* {
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 3rem 5% 3rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

header > img{
    display: block;
    margin: 0 auto; /*Display center*/
    width: 600px;
}

nav ul  {
    background-color: gray;
    list-style: none;
    text-align: center;
    border-radius: 20px;    
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    margin: 0 100px;
    transition: 0.5s;
}

nav li a:hover {
    color: aqua;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#first  {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

#first:hover {
    background-image: url("images/header2.jpeg");
    background-position: center;
    color: aqua;
}

#img {
    display: block;
    width: 230px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
}

article {
    flex: 1;
    background-color: rgb(238, 225, 225);
    margin: 10px 10px 0;
    padding: 0 10px 0;
    border-radius: 20px;
}

article div {
    transition: 0.5s;
    text-align: center;
    color: rgb(238, 225, 225);
    opacity: 0.5;
}

article div:hover {
    transform: scale(1.04);
    color: black;
    opacity: 1;
}

footer {
    margin: 30px auto;
    display: flex;
}

footer div {
    flex: 0.4;
}

footer div img {
    margin: 0 auto;
    width: 300px;
    transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
    header img {
        width: 300px;
    }

    nav li a {
        margin: 0 10px;
    }

    h1 {
        font-size: 2rem;
    }
}
